<!DOCTYPE html>
<html lang="ru">
<head>
    <link rel="icon" href="data:,="> <!-- убирает ошибку в логах, связанную с отображением иконки на вкладке -->
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>{% block title %}Список задач{% endblock %}</title>
    <!-- Bootstrap CSS. Подключение через CDN, использование файлов на удалённых серверах.-->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    {% block extra_css %}{% endblock %}
</head>
<body>
    <!-- Header -->
    <header class="bg-primary text-white p-3">
        <div class="container d-flex justify-content-between align-items-center">
            <h1 class="h3">ToDo_Diploma</h1>
            <div class="d-flex justify-content-end align-items-center">
                <nav class="nav">
                    <a href="{% url 'task_list' %}" class="nav-link text-white me-3">Главная</a>
                    <a href="{% url 'users_list' %}" class="nav-link text-white me-3">Пользователи</a>
                    <a href="{% url 'user-profile' %}" class="nav-link text-white me-3">Профиль</a>
                    <a href="{% url 'logout' %}" class="nav-link text-white">Выйти из профиля</a>
                </nav>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container mt-4">
        {% block content %}{% endblock %}
    </div>

    <!-- Footer -->
    <footer class="bg-light text-center text-lg-start mt-5">
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
            &copy; 2025 TaskManager. Все права не защищены.
        </div>
    </footer>

    <!-- Bootstrap JS and dependencies. -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
    {% block extra_js %}{% endblock %}
</body>
</html>
