{% extends 'task/base.html' %}

{% block title %}Изменить пароль{% endblock %}

{% block content %}
<div class="container mt-4" style="max-width: 500px; margin: auto;">
    <h1 class="h3">Изменение пароля</h1>
    {% if messages %}
        <div>
            {% for message in messages %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endfor %}
        </div>
    {% endif %}
    <form method="post">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" class="btn btn-primary">Изменить пароль</button>
        <a href="{% url 'user-profile' %}" class="btn btn-secondary">Назад к профилю</a>
    </form>
</div>
{% endblock %}
